
.all-user{
    max-width: 1090px;
    width: 100%;
    margin:2% auto;
    padding: 10px;
    overflow: auto;
}
.user-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5px;
}
.user-header select{
    width:20%;
    margin: 5px 0;
    padding: 7px 10px;
    border: 1px solid #efeff5;
}
.all-user h3{
    font-size: 18px;
    font-weight: 400;
    color: #8383ff;
    margin-bottom: 5px;
}
.all-user h2{
    color: blue;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.all-user table{
    width:100%;
    border-collapse: collapse;
    text-align: center;
}
.all-user table td{
    padding: 10px;
}
.all-user table td:last-child{
    font-size: 18px;
}
.all-user table tr:nth-child(odd){
    background: #f3edf2;
}
.all-user table th{
    background: #8383ff;
    padding: 10px;
    color: #f7f7f7;
}
.all-user table td span{
    cursor: pointer;
}
.all-user table td .editBtn{
    color: blue;
}
.all-user table td .deleteBtn{
    color: red;
}
.all-user .data-not-available{
    color: brown;
    font-weight: 700;
    text-align: center;
    padding-top: 80px;
}


/*
------------------------------------------------------------------
---------------- Responsive Styles For All users ---------------
------------------------------------------------------------------
*/

/* medium device */
@media all and (max-width:767px){
    .user-header select {
        width: 25%;
    }
}