.header{
    width: 100%;
    background: #1d1dbf;
    padding:15px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header h3{
    color: red;
}

a,a:hover{
    text-decoration: none;
}
nav ul{
    list-style-type: none;
    display: flex;

}
nav ul li{
    margin-left:35px;
}
nav ul li a,
.login a{
    font-size: 16px;
    color: #f7f7f7;
    font-weight: 600;
}
nav ul li a:hover{
    color: #cacac8;
}

/*
------------------------------------------------------------------
---------------- Responsive Styles For Header ----------------
------------------------------------------------------------------
*/

/* medium device */
@media all and (max-width:767px){
    .header {
        padding: 15px 30px;
    }
}
/* small device */
@media all and (max-width:480px){
    .header {
        padding: 15px;
    }
    nav ul li {
        margin-left: 15px;
    }
    .login a{
        color: #FFC74A;
    }
}
/* Extra small device */
@media all and (max-width:380px){
    nav ul li {
        margin-left: 12px;
    }
    svg:not(:root).svg-inline--fa {
        display: none;
    }
}